<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>教师管理</title>
    <link href="/static/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr>
            <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
            <hr>
            <table class="table table-hover table-bordered">
                <tr clsss="info">
                    <th>序号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>邮箱</th>
                    <th>用户名</th>
                    <th>create_time</th>
                    <th>update_time</th>
                    <th>操作</th>
                </tr>
                {volist name="teachers" id="_Teacher" key="key"}
                <tr>
                    <td>{$key}</td>
                    <td>{$_Teacher->getData('name')}</td>
                    <td>{eq name='_Teacher->getData("sex")' value='0'}男{else /}女{/eq}</td>
                    <td>{$_Teacher->getData('email')}</td>
                    <td>{$_Teacher->getData('username')}</td>
                    <td>{$_Teacher->getData('create_time')}</td>
                    <td>{$_Teacher->getData('update_time')}</td>
                    <td>
                        <a href="{:url('delete?id=' . $_Teacher->getData('id'))}">删除</a>
                        &nbsp;&nbsp;
                        <a href="{:url('edit?id=' . $_Teacher->getData('id'))}">编辑</a>
                    </td>
                </tr>
                {/volist}
            </table>
            {$teachers->render()}
        </div>
    </div>
</div>
</body>
</html>