<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>编辑课程</title>
    <link href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <form action="{:url('update')}" method="POST">
        <input type="hidden" value="{$Course->id}" name="id">
        <label for="name">name:</label><input type="text" name="name" id="name" value="{$Course->name}" />
        {//使用教程的面向对象的方法，进行课程选中}
        {//assign name="klass_ids" value="$Course->Klasses()->column('klass_id')"}
        {volist name="klasses" id="klass"}
        <input type="checkbox" name="klass_id[]" id="klass_id_{$klass->id}" value="{$klass->id}" {eq name="Course->getIsChecked($klass)" value="true"}checked{/eq}{//{in name="$klass->id" value="$klass_ids"}checked{/in}}/>
        <label for="klass_id_{$klass->id}">{$klass->name}</label>
        {/volist}
        <button type="submit">submit</button>
    </form>
</div>
</body>
</html>