<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>添加班级</title>
</head>
<body>
<form action="{:url('save')}" method="POST">
    <label for="name">name:</label><input type="text" name="name" id="name" />
    <label for="teacher">teacher:</label>
    <select name="teacher_id" id="teacher">
        {volist name="teachers" id="_Teacher"}
        <option value="{$_Teacher->id}">{$_Teacher->name}</option>
        {/volist}
    </select>
    <button type="submit">submit</button>
</form>
</body>
</html>