{extend name="edit"}
{block name="title"}
{eq name="Klass->id" value=""}添加班级{else /}编辑班级{/eq}
{/block}
{block name="content"}
{assign name="action" value="$Request.action === 'add' ? 'save' : 'update'"}
<form action="{:url($action)}" method="POST">
    <input type="hidden" name="id" value="{$Klass->id}">
    <label for="name">name:</label>
    {eq name="Klass->name" value=""}
    <input type="text" name="name" id="name" value="{$Klass->name}" />{else}{$Klass->name}{/eq}
    <label for="teacher">teacher:</label>
    <select name="teacher_id" id="teacher">
        {volist name="teachers" id="_Teacher"}
        <option value="{$_Teacher->id}" {eq name="_Teacher->id" value="$Klass->teacher_id"}selected{/eq}>{$_Teacher->name}</option>
        {/volist}
    </select>
    <button type="submit">submit</button>
</form>
{/block}